Utilities/Embedded/PresetSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Preset">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Server" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Checks" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="Check" minOccurs="0">
                      <xs:complexType>
                        <xs:attribute name="Name" type="xs:string" use="required" />
                        <xs:attribute name="Enabled" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="Port" type="xs:unsignedShort" use="optional" />
            <xs:attribute name="Location" type="xs:string" use="optional" />
            <xs:attribute name="Process" type="xs:string" use="optional" />
            <xs:attribute name="DoNotRedirectOutput" type="xs:boolean" use="optional" />
            <xs:attribute name="BypassSendQuit" type="xs:boolean" use="optional" />
          </xs:complexType>
        </xs:element>
        <xs:element name="AdditionalProcesses" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="Process">
                <xs:complexType>
                  <xs:attribute name="Process" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="Name" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>